

  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text">
        <h4>The Ultimate Decision</h4>
        Can't decide where to go out to eat? This website is for you! Click the button below to make the ultimate decision
      </div>
      <div class="mdl-card__actions">
        <div class="mdl-button mdl-js-button mdl-button--raised">
        <%= button_to "Pick Restaurant", :action => "random_restaurant", :class => "mdl-button mdl-js-button mdl-button--raised" %>
      </div>
    </div>
  </section>
