<h2>Restaurants</h2>
<ul class="demo-list-icon mdl-list">
  <% @restaurants.each do |restaurant| %>
  <li class="mdl-list__item" id="kevin">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon">restaurant</i>
    <a href="show/<%= restaurant.id %>"><%= restaurant.name %></a>
    </span>
  </li>
  <% end %>
</ul>
