<h2>New Restaurant</h2>

<form action="index.html" method="post">
  <label>
  Name: <input type="text" name="Name">
  </label>
  <br>
  <label>
    Price Range: <input type="text" name="Price">
  </label>
  <br>
  <label>
    Cuisine: <input type="text" name="Cuisine">
  </label>
  <br>
  <label>
    Location: <input type="text" name="Location">
  </label>
  <br>
  <label>
    Photo: <input type="text" name="Photo">
  </label>
  <br>
  <br>
  <input type="submit" value="Submit Changes">
</form>
