<h2>Reviews</h2>
<%= link_to 'New Review', new_review_path %>
<ul class="demo-list-icon mdl-list">
  <% @reviews.each do |review| %>
  <li class="mdl-list__item" id="kevin">
    <span class="mdl-list__item-primary-content">
    <p><%= review.restaurant %></p>
    <p><%= review.rating %></p>
    <p><%= review.comment %></p>
    </span>
  </li>
  <% end %>
</ul>
